/* intro.css */

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
:root {
  --small-font-size: 1rem;
}

/* Main section */
.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  max-width: 50rem;
  margin-top: 0.05rem;
  font-size: var(--big-font-size);
  margin-left: 40vh;
}

.introContent {
  height: 57vh;
  width: 70vh;
  padding: 6rem;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 17rem;
}

.imgContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1; /* Take remaining space */
  border-radius: 38px;
}

.imgContainer img {
  max-width: 100%;
  height: auto;
  
}

.iconContent {
  display: flex;
  flex-direction: column;
}

.iconItem {
  margin-bottom: 2rem;
  font-size: 3rem;
  margin-right: 15vh;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 840px) {
  .bg {
      right: -20vw;
  }
}


