/* intro.css */

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Global styles */
:root {
  --small-font-size: 1rem;
}

/* Main section */
.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  width: 100%;
  margin-top: 0.05rem;
  font-size: var(--big-font-size);
  margin-left: 56vh;
  

}

.introContent {
  height: 37vh;
  width: 70vh;
  padding: rem;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 20vh;
  align-items: flex-start; /* Align items to the start of the column */
  margin-right: 19rem; /* Remove the right margin */
}
.introText {
  text-align: left;
  height: 57vh;
  width: 70vh;
  margin-left: 50vh;
}
.introSubtitle {
  text-align: left;
  height: 57vh;
  width: 70vh;
  margin-left: 50vh;

}
.imgContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1; /* Take remaining space */
  border-radius: 38px;
  margin-right: 150vh;
  margin-bottom: 24vh;
}

.imgContainer img {
  max-width: 100%;
  height: auto;
  
}

 

.iconContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 1rem; /* Add margin at the bottom of the iconContent */
  margin-left: 53vh;
}

.iconItem {
  margin-bottom: 1rem;
  margin-right: 2rem; /* Add margin between icons */
  font-size: 3rem;
}
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-left: 55vh;
}

.btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 840px) {
  .bg {
      right: -20vw;
  }
}


