*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration:none;
    background:transparent ;
}
body{
    background: rgba(129, 165, 206, 0.705);
    color:aliceblue;
    overflow:hidden;
    overflow-y: scroll; 
    overflow-anchor: none;
    
                          

} 

